/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 80px; /* Add padding equal to footer height */
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    top: 0;
    left: 0;
    position: sticky;
}

#header img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar h1 {
    text-align: center;
    margin: 0;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#services h2,
#Contacts h1 {
    width: 100%;
    text-align: center;
    background-color: aqua;
    margin: 0;
    height: 50px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.service h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    color: #555;
}

#services ul {
    list-style: none;
}

.navbar li a:hover {
    color: #088178;
}

@media (max-width: 799px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    
    .navbar li {
        margin-bottom: 25px;
    }
}
@media (max-width: 430px) {
    #header {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #header img {
        width: 80px; 
        border-radius: 50%;
        margin-bottom: 5px;
        margin-left: 10px; 
    }

    .navbar {
        margin-right: 0; 
    }

    footer {
        padding: 10px 10px 0 10px; /* Adjusted padding */
        background-color: #333;
        color: #fff;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 0;
        width: auto;
        height: 50px; 
    }
}


footer {
    padding: 20px 10px 0 15px; /* Adjusted padding */
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
